# Reference https://juejin.cn/post/6972566180896702477
# 
# Put this file into /usr/lib/systemd/system/
# Put frpc binary to /usr/bin/frpc
# Put frpc config to /etc/frp/frpc.ini

[Unit]
Description = frp client
After = network.target syslog.target
Wants = network.target

[Service]
Type = simple
ExecStart = /usr/bin/frpc -c /etc/frp/frpc.ini

[Install]
WantedBy = multi-user.target