# Reference https://juejin.cn/post/6972566180896702477
# 
# Put this file into /usr/lib/systemd/system/
# Put frps binary to /usr/bin/frps
# Put frps config to /etc/frp/frps.ini

[Unit]
Description = frp server
After = network.target syslog.target
Wants = network.target

[Service]
Type = simple
ExecStart = /usr/bin/frps -c /etc/frp/frps.ini

[Install]
WantedBy = multi-user.target